
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

  {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
  {% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="containerLogin">
        <div class="backgroundLogin">
            <h1 class=" fontRetro start">Start ?</h1>
            <div class="w-50  m-auto mt-5 containerFormLogin" >
                <form method="post">
                    <div class="d-flex flex-column">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password"/>
                    </div>


                    <input type="hidden" name="_target_path" value="/"/>

                    <button class="btn btn-dark btnLogin buttonBlueDegrade" type="submit">Ready?</button>

                </form>
            </div>
    </div>


</div>
{% endblock %}
