.formNewProduct {
    background-color: rgba(13, 18, 33, 0.93);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
    width: 60%;
    margin: 60px auto;
}

.formNewProduct > form {
    margin: auto;
    justify-content: center;
    width: 60%;
}

.formNewProduct > form > div > div
{
    display: flex;
    flex-direction: column;
}

.formNewProduct > form > div > div > label {
    color: #ffffff;
    margin-top: 15px;
}

.formNewProduct > form > div > div > input
{
    height: 40px;
    border: none;
}

.formNewProduct > form > div > div > select
{
    height: 40px;
    border: none;
}

.titleNew {
    text-align: center;
    margin-top: 120px;
    text-underline: black;

}


 @media screen and (max-width: 860px) {

     .formNewProduct {
         width: 100%;
     }

     .formNewProduct > form {
         margin: auto;
         justify-content: center;
         width: 100%;
     }
}

