@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.navbar{
    background-color: rgba(13, 18, 33, 0.93);
    z-index: 9999;
    width: 100vw;
    position: fixed;
    top: 0;
}

.fontRetro {
    font-family: 'Press Start 2P', cursive;
}


.nav-link{
    color: white;
}
.nav-link.active{
    color: white !important;
}

.navbar-toggler{
    border-color: white;
}

.nav-link:hover{
    color: #e8e4e4;
}

.cart-container {
    right: 0;
}

.navbar-brand{
    color: white
}

.navbar-toggler{
 color: white;
}

.btnSearch{
    height: 40px;
}

.btnSearch:hover{
    color: white;
}

@media screen and (max-width: 860px) {

.fontRetro{
        font-size: 12px;
}

}

