{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}


    <button class="btn btn-primary spaceFromNavbar" type="submit">Valider</button>

{% endblock %}
